<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Hawstein's Blog</a>
	<ul class="nav">
	  <li class="active"><a href="/">Home</a></li>
	  <li ><a href="/archive.html">Archive</a></li>
	  <li ><a href="/categories.html">Categories</a></li>
	  <li ><a href="/sitemap.html">Sitemap</a></li>
	  <li ><a href="/about.html">About</a></li>
	</ul>
	<ul class="nav pull-right">
	  <li ><a href="/atom.xml">Subscribe</a></li>
	</ul>
    </div>
  </div>
</div>
