---
layout: default
---
<div id="post">
{% include post_header.html %}
{{ content }}
</div>

<br>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_tsohu"></a>
<a class="jiathis_button_t163"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_zhuaxia"></a>
<a class="jiathis_button_fanfou"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_gmail"></a>
<a class="jiathis_button_linkedin"></a>
<a class="jiathis_button_friendfeed"></a>
<a class="jiathis_button_digg"></a>
<a href="http://www.jiathis.com/share?uid=1939314" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	data_track_clickback:true,
	summary:" // By @Hawstein ",
	hideMore:false
}
</script>

<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1939314" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br>

<div id="related">
  <h2>Random Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% include disqus.html %}
